body {
    background-color: black;
}

#fontawesome {
    color: #F8B822;
}

.vid-list-container {
    width: 92%;
    overflow: hidden;
    margin-top: 20px;
    margin-left:4%;
    padding-bottom: 20px;
}

.vid-list {
    width: 1680px;
    position: relative;
    top:0;
    left: 0;
}

.vid-item {
    display: block;
    width: 148px;
    height: 148px;
    float: left;
    margin: 0;
    padding: 10px;
}

.vid-item:hover {
    background-color: rgb(37, 36, 33)
}

.thumb {
    overflow:hidden;
    height: 84px;
}

.thumb img {
    width: 100%;
    position: relative;
    top: -13px;
}

.vid-item .desc {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top:5px;
}

.arrows {
    position:relative;
    width: 100%;
}

.arrow-left {
    color: #000000;
    position: absolute;
    background: #F8B822;
    padding: 5px;
    left: -25px;
    top: -130px;
    z-index: 99;
    cursor: pointer;
}

.arrow-right {
    color: #000000;
    position: absolute;
    background: #F8B822;
    padding: 5px;
    right: -25px;
    top: -130px;
    z-index:100;
    cursor: pointer;
}

footer {
    color: white;
    padding: 20px;
    margin: 50px 0 0 0;
    font-size: 12px;
}

@media (max-width: 624px) {
    .arrows {
        position:relative;
        margin: 0 auto;
        width:96px;
    }
    .arrow-left {
        left: 0;
        top: 10px;
    }

    .arrow-right {
        right: 0;
        top: 10px;
    }
}